<div class="modal-body">
    <div class="pagetitle">
        <h1>{{solicitud.tituloSolicitud}} <span *ngIf="solicitud.dataEquipo">{{solicitud.dataEquipo.tipoEquipo}} {{solicitud.dataEquipo.nombre}}</span> - Orden #{{solicitud.fkTblOrdenServicio}}</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Solicitud</li>
            </ol>
        </nav>
    </div>

    <div class="section dashboard">
        <div class="col-12">
            <div class="row">
                <div class="col-12 t-center" style="margin-top: -10px; margin-bottom: 15px;">
                    <label *ngIf="(permisos.perfil == 'Administrador' || permisos.perfil == 'Superadministrador')" style="color: #008FFF !important;">
                        {{solicitud.solicitante}}
                    </label>
                    <span *ngIf="(permisos.perfil == 'Administrador' || permisos.perfil == 'Superadministrador')"> | </span>
                    <label>{{solicitud.fechaSolicitud}}</label>
                </div>

                <div class="col-sm-6" style="margin-bottom: -5px;" *ngIf="!solicitud.type">
                    <div class="card info-card {{solicitud.fondoActual}}">
                        <div class="card-body t-center">
                            <h5 class="card-title"><span>Ahora</span><br>{{solicitud.statusActual}}</h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi {{solicitud.iconoActual}}"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6" style="margin-bottom: -5px;" *ngIf="!solicitud.type">
                    <div class="card info-card {{solicitud.fondoPosterior}}">
                        <div class="card-body t-center">
                            <h5 class="card-title"><span>{{!solicitud.type ? 'Después' : 'Cambio'}}</span><br>{{solicitud.statusPosterior}}</h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi {{solicitud.iconoPosterior}}"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="solicitud.type" class="col-12 d-flex align-items-center justify-content-center">
                    <div class="col-sm-6" style="margin-bottom: -5px;">
                        <div class="card info-card {{solicitud.fondoPosterior}}">
                            <div class="card-body t-center">
                                <h5 class="card-title"><span>{{!solicitud.type ? 'Después' : 'Cambio'}}</span><br>{{solicitud.statusPosterior}}</h5>
    
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi {{solicitud.iconoPosterior}}"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 t-center" style="margin-bottom: 15px;">
                    <label>{{solicitud.motivo}}</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer" style="text-align: center;">
    <button *ngIf="!solicitud.type" type="button" class="btn btn-success" (click)="verOrden()">Ver orden</button>
    <button *ngIf="(permisos.perfil == 'Administrador' || permisos.perfil == 'Superadministrador') && !solicitud.type" type="button" class="btn btn-primary" (click)="aprobarSolicitud()">Aprobar</button>
    <button *ngIf="!solicitud.type" type="button" class="btn btn-warning" (click)="eliminarSolicitud()">{{(permisos.perfil == 'Administrador' || permisos.perfil == 'Superadministrador') ? 'Eliminar' : 'Cancelar'}}</button>
    <button type="button" class="btn btn-danger" (click)="cerrarModal()">Cerrar</button>
</div>