<div class="row">
    <div class="col-xxl-3 col-lg-4 col-12">
        <div *ngIf="pkOrden != 0" class="pagetitle">
            <h1>
                Orden {{status[(detalleOrden.status ?? 1)-1]}} #{{pkOrden}}
                <div class="spinner-grow spinner-grow-sm" role="status" [ngClass]="{
                        'text-warning': detalleOrden.status === 1,
                        'text-primary': detalleOrden.status === 2,
                        'text-success': detalleOrden.status === 3,
                        'text-danger': detalleOrden.status === 4
                    }" style="position: absolute; margin-top: 6px; margin-left: 10px;">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </h1>
            <nav>
                <ol class="breadcrumb">
                    <li *ngIf="pkOrdenSolicitud == 0" class="breadcrumb-item" [routerLink]="'/consulta-ordenes'">Ordenes
                        de servicio</li>
                    <li class="breadcrumb-item active">{{solicitante != null ? 'Solicitud' : 'Detalle orden'}}</li>
                </ol>
            </nav>
        </div>

        <div *ngIf="pkOrden == 0" class="pagetitle">
            <h1>Generar orden de servicio</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" [routerLink]="'/'">Dashboard</li>
                    <li class="breadcrumb-item active">Generar orden</li>
                </ol>
            </nav>
        </div>

        <section class="section dashboard sticky-100">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-12" style="margin-top: -5px !important;">
                    <div class="card">
                        <div *ngIf="pkOrden != 0" class="dropdown">
                            <div class="filter" data-bs-toggle="dropdown">
                                <button class="btn btn-info btn-sm" style="border-radius: 10px; color: white;">
                                    <i class="bi bi-info-circle"></i>
                                </button>
                            </div>

                            <ul class="dropdown-menu">
                                <div class="t-center">
                                    <div *ngIf="detalleOrden.usuarioModificacion && detalleOrden.fechaModificacion">
                                        <label style="color: gray;">Última
                                            actualización</label>&nbsp;<label
                                            style="color: #008FFF;">{{detalleOrden.usuarioModificacion}}</label>
                                        <br><label>{{detalleOrden.fechaModificacion}}</label>

                                        <hr>
                                    </div>

                                    <div *ngIf="detalleOrden.usuarioRegistro && detalleOrden.fechaRegistro">
                                        <label style="color: gray;">Recibe</label>&nbsp;<label
                                            style="color: #008FFF;">{{detalleOrden.usuarioRegistro}}</label>
                                        <br><label>{{detalleOrden.fechaRegistro}}</label>
                                    </div>
                                    <div *ngIf="detalleOrden.usuarioCancelacion && detalleOrden.fechaCancelacion">
                                        <br>
                                        <label style="color: gray;">Cancelada por</label>&nbsp;<label
                                            style="color: #008FFF;">{{detalleOrden.usuarioCancelacion}}</label>
                                        <br><label>{{detalleOrden.fechaCancelacion}}</label>
                                    </div>
                                    <div *ngIf="detalleOrden.usuarioConclucion && detalleOrden.fechaConclucion">
                                        <br>
                                        <label style="color: gray;">Concluida por</label>&nbsp;<label
                                            style="color: #008FFF;">{{detalleOrden.usuarioConclucion}}</label>
                                        <br><label>{{detalleOrden.fechaConclucion}}</label>
                                    </div>
                                    <div *ngIf="detalleOrden.usuarioEntrega && detalleOrden.fechaEntrega">
                                        <br>
                                        <label style="color: gray;">Entregada por</label>&nbsp;<label
                                            style="color: #008FFF;">{{detalleOrden.usuarioEntrega}}</label>
                                        <br><label>{{detalleOrden.fechaEntrega}}</label>
                                    </div>
                                </div>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title t-center">Cliente</h5>
                            <form class="row g-3" autocomplete="off" [formGroup]="formCliente">
                                <div class="col-md-12 col-sm-7 col-12">
                                    <label class="form-label required">Nombre:</label>
                                    <input type="text" class="form-control" placeholder="Nombre"
                                        formControlName="cliente" (keypress)="soloLetras($event)">
                                </div>
                                <div class="col-xxl-5 col-md-12 col-sm-5 col-12">
                                    <label class="form-label required">WhatsApp:</label>
                                    <input type="text" class="form-control" placeholder="WhatsApp"
                                        formControlName="telefono" (keypress)="soloNumeros($event)"
                                        (input)="phoneFormat($event)" maxlength="12">
                                </div>
                                <div class="col-xxl-7">
                                    <label class="form-label">Correo:</label>
                                    <input type="email" class="form-control" placeholder="Correo"
                                        formControlName="correo" (keypress)="soloTexto($event)">
                                </div>
                                <div class="col-12">
                                    <label class="form-label">Dirección:</label>
                                    <textarea (input)="adjustTextareaHeight($event)" rows="1" class="form-control"
                                        placeholder="Dirección" formControlName="direccion"
                                        (keypress)="soloTexto($event)"></textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-6 col-12"
                    style="margin-top: -5px !important; margin-bottom: -25px !important;">
                    <div class="card">
                        <div class="card-body card-w-title">
                            <form class="row g-3" autocomplete="off" [formGroup]="formCliente">
                                <div class="col-sm-6">
                                    <label class="form-label">Total:</label>
                                    <input type="text" class="form-control t-center" placeholder="Total"
                                        formControlName="total" [value]="obtenerTotalItems()">
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label">A cuenta:</label>
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control t-center" placeholder="A cuenta"
                                            formControlName="aCuenta" (keypress)="soloNumeros($event)"
                                            [readOnly]="pkOrden != 0 && permisos.ordenActualizarCantidades != 1 && !solicitudCambioCantidad"
                                            [ngStyle]="{'background': pkOrden != 0 && ((permisos.ordenActualizarCantidades != 1 && !solicitudCambioCantidad) || (this.pkOrdenSolicitud != 0 || detalleOrden.status >= 3)) ? '#e9ecef' : 'white'}"
                                            (input)="moneyFormat($event)" (input)="writeACuenta()" maxlength="11">
                                        <button
                                            *ngIf="pkOrdenSolicitud == 0 && pkOrden != 0 && detalleOrden.status < 3 && permisos.ordenActualizarCantidades != 1"
                                            class="btn btn-{{solicitudCambioCantidad ? 'danger' : 'warning'}}"
                                            (click)="solicitarModificarCantidades()">
                                            <i *ngIf="!solicitudCambioCantidad" class="bi bi-pencil-square"></i>
                                            <b><i *ngIf="solicitudCambioCantidad" class="bi bi-ban"></i></b>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <label class="form-label">Restante:</label>
                                    <input type="text" class="form-control t-center" placeholder="Restante"
                                        formControlName="restante" [value]="obtenerRestanteItems()">
                                </div>
                                <div class="col-12">
                                    <label class="form-label">Nota:</label>
                                    <textarea (input)="adjustTextareaHeight($event)" rows="1" class="form-control"
                                        placeholder="Nota" formControlName="nota"
                                        (keypress)="soloTexto($event)"></textarea>
                                </div>
                                <div *ngIf="pkOrdenSolicitud == 0 && pkOrden != 0 && detalleOrden.status < 3"
                                    class="col-12">
                                    <label class="form-label">Código:</label>
                                    <div class="input-group mb-3">
                                        <button class="btn btn-primary" (click)="enviarCodigo()">Envíar</button>
                                        <input type="text" class="form-control t-center" placeholder="Código"
                                            aria-label="Recipient's username" aria-describedby="basic-addon2"
                                            formControlName="codigo" [value]="detalleOrden.codigo">
                                        <button class="btn btn-dark" (click)="copyToClipboard()"> <i
                                                class="bi bi-copy"></i></button>
                                    </div>
                                </div>
                            </form>
                            <div *ngIf="pkOrdenSolicitud == 0 && pkOrden != 0 && detalleOrden.status == 3"
                                class="row g-3" style="margin-top: 5px;">
                                <div class="col-sm-6">
                                    <label class="form-label">Código:</label>
                                    <input type="text" class="form-control t-center" placeholder="Código"
                                        [value]="detalleOrden.codigo" disabled>
                                </div>
                                <div class="col-sm-6">
                                    <label class="form-label">Ticket:</label>
                                    <input type="text" class="form-control t-center" placeholder="Ticket"
                                        [value]="detalleOrden.folioTicket ?? ''" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="solicitante != null" class="col-12 t-center" style="margin-top: 10px;">
                    Solicitud <label
                        *ngIf="permisos.perfil == 'Administrador' || permisos.perfil == 'Superadministrador'"
                        style="color: #008FFF !important;">
                        {{solicitante.solicitante}}
                    </label>
                    <br>
                    <label>{{solicitante.fechaSolicitud}}</label>
                </div>
            </div>
        </section>
    </div>

    <div class="col-xxl-9 col-lg-8 col-12">
        <div class="row d-flex justify-content-center items-rep">
            <div class="col-12 t-center sticky-img-100" style="height: 50px;">
                <img *ngIf="pkOrdenSolicitud == 0 && (pkOrden == 0 || detalleOrden.status == 1)"
                    (click)="addContent('laptop')" class="shadow-image" src="https://m-net.mx/scosm/images/laptop.png"
                    alt="" style="z-index: 1005; margin-right: 22px;" width="50px">
                <img *ngIf="pkOrdenSolicitud == 0 && (pkOrden == 0 || detalleOrden.status == 1)"
                    (click)="addContent('impresora')" class="shadow-image"
                    src="https://m-net.mx/scosm/images/impresora.png" alt="" style="z-index: 1005; margin-right: 22px;"
                    width="50px">
                <img *ngIf="pkOrdenSolicitud == 0 && (pkOrden == 0 || detalleOrden.status == 1)"
                    (click)="addContent('pc')" class="shadow-image" src="https://m-net.mx/scosm/images/pc.png" alt=""
                    style="z-index: 1005; margin-right: 22px;" width="50px">
                <img *ngIf="pkOrdenSolicitud == 0 && (pkOrden == 0 || detalleOrden.status == 1)"
                    (click)="addContent('monitor')" class="shadow-image" src="https://m-net.mx/scosm/images/monitor.png"
                    alt="" style="z-index: 1005; margin-right: 22px;" width="50px">
                <img *ngIf="pkOrdenSolicitud == 0 && (pkOrden == 0 || detalleOrden.status == 1)"
                    (click)="addContent('otro')" class="shadow-image" src="https://m-net.mx/scosm/images/otro.png"
                    alt="" style="z-index: 1005; margin-right: 22px;" width="50px">
                <div *ngIf="pkOrden != 0" class="t-center" [ngClass]="{'f-right': detalleOrden.status <= 2}"
                    [ngStyle]="{'margin-top': xor(equiposSinCancelar() > 0, equiposCancelados() > 0) ? '10px' : '-4px'}">
                    <span *ngIf="equiposSinCancelar() > 0" class="badge bg-primary">Concluidos: {{detalleOrden.status >
                        1 ? equiposPedientes()+' ' : equiposPedientes() +' / '+ equiposSinCancelar()}} <i
                            class="bi bi-check-circle"></i></span>
                    <br *ngIf="equiposSinCancelar() > 0 && equiposCancelados() > 0">
                    <span *ngIf="equiposCancelados() > 0" class="badge bg-danger">Cancelados: {{equiposCancelados()}} <i
                            class="bi bi-x-circle"></i></span>
                </div>
            </div>

            <ng-container #container></ng-container>

            <div *ngIf="pkOrdenSolicitud == 0 && detalleOrden.status" class="items-footer">
                <div class="card">
                    <div class="card-body card-w-title sp-buttons">
                        <div class="btn btn-info" [ngClass]="{'me-2': detalleOrden.status != 3}" style="color: white;"
                            (click)="abrirModalOrdenPdf(detalleOrden.pkTblOrdenServicio)">
                            <i class="bi bi-filetype-pdf"></i>
                        </div>

                        <div *ngIf="detalleOrden.status <= 2" class="btn btn-warning me-2" (click)="actualizarOrden()">
                            Actualizar</div>
                        <div *ngIf="detalleOrden.status == 2 && permisos.entregarOrden == 1"
                            class="btn btn-primary me-2"
                            (click)="child.entregarEquipo(detalleOrden.pkTblOrdenServicio, detalleOrden.codigo)">
                            Entregar equipo(s)</div>
                        <div *ngIf="detalleOrden.status == 2 || detalleOrden.status == 4" class="btn btn-warning"
                            (click)="retomarOrdenServicio()">
                            Retomar orden</div>
                        <div *ngIf="detalleOrden.status == 1" class="btn btn-primary me-2"
                            (click)="concluirOrdenServicio()">Concluir orden</div>
                        <div *ngIf="detalleOrden.status == 1" class="btn btn-danger" (click)="cancelarOrdenServicio()">
                            Cancelar orden</div>
                    </div>
                </div>
            </div>

            <div *ngIf="pkOrdenSolicitud == 0 && pkOrden == 0 && listaEquipos.length > 0" class="items-footer">
                <div class="card">
                    <div class="card-body card-w-title sp-buttons">
                        <div class="btn btn-primary" (click)="generarOrden()">Generar Orden</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>