<div class="modal-body">
    <div class="pagetitle">
        <h1>Detalle perfil</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Detalle perfil</li>
            </ol>
        </nav>
    </div>

    <section class="section profile formsWTitle">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body card-w-title pt-3">
                        <form class="row g-3" autocomplete="off" [formGroup]="formMoficacionPerfil">
                            <div class="col-lg-4 col-md-6">
                                <label for="nombre" class="form-label required">Nombre:</label>
                                <input formControlName="nombre" type="text" class="form-control"
                                    id="nombre" placeholder="Nombre" (keypress)="soloLetras($event)">
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <label for="aPaterno" class="form-label required">Apellido paterno:</label>
                                <input formControlName="aPaterno" type="text" class="form-control"
                                    id="aPaterno" placeholder="Apellido paterno" (keypress)="soloLetras($event)">
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <label for="aMaterno" class="form-label">Apellido materno:</label>
                                <input formControlName="aMaterno" type="text" class="form-control"
                                    id="aMaterno" placeholder="Apellido materno" (keypress)="soloLetras($event)">
                            </div>

                            <div class="col-lg-8 col-md-6">
                                <label for="correo" class="form-label required">Correo:</label>
                                <input formControlName="correo" type="email" class="form-control" id="correo"
                                    placeholder="Correo" (keypress)="soloTexto($event)">
                            </div>

                            <div class="col-lg-4 col-md-12">
                                <label for="perfil" class="form-label required">Perfil:</label>
                                <select class="form-control" formControlName="perfil" id="perfil" (change)="cambioPermisosPerfil()">
                                    <option value="" style="visibility: hidden; display: none;">Seleccione un perfil</option>
                                    <option value="Superadministrador" style="visibility: hidden; display: none;">Superadministrador</option>
                                    <option value="Administrador">Administrador</option>
                                    <option value="Supervisor">Supervisor</option>
                                    <option value="Técnico">Técnico</option>
                                </select>
                            </div>

                            <div class="col-12">
                                <div *ngIf="formMoficacionPerfil.value.perfil == 'Administrador' || formMoficacionPerfil.value.perfil == 'Superadministrador'" class="alert alert-primary alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                    Solo los <b>administradores</b> pueden validar y aprobar solicitudes
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            </div>

                            <div *ngIf="pkUsuario == 0" class="col-md-12 d-flex justify-content-center" style="margin-top: 0px;">
                                <div class="form-check form-switch">
                                    <input formControlName="cambioContraseniaPerfil" class="form-check-input"
                                        type="checkbox" id="cambioContraseniaPerfil"
                                        (change)="cambioContraseniaPerfil()">
                                    <label class="form-check-label" for="cambioContraseniaPerfil">Cambio de
                                        contraseña</label>
                                </div>
                            </div>

                            <section *ngIf="inputContrasenia" class="row" style="margin-top: 15px !important;">
                                <div class="col-lg-4">
                                    <label for="contraseniaAntigua" class="form-label">Contraseña actual <b
                                            style="color: brown;">*</b>:</label>
                                    <input formControlName="contraseniaAntigua" type="password" class="form-control"
                                        id="contraseniaAntigua" placeholder="Contraseña Actual"
                                        (keypress)="soloTexto($event)" maxlength="255">
                                </div>
                                <div class="col-lg-4">
                                    <label for="contraseniaNueva" class="form-label">Contraseña nueva<b
                                            style="color: brown;">*</b>:</label>
                                    <input formControlName="contraseniaNueva" type="password" class="form-control"
                                        id="contraseniaNueva" placeholder="Contraseña Nueva" (keypress)="soloTexto($event)"
                                        maxlength="255">
                                </div>
                                <div class="col-lg-4">
                                    <label for="confContraseniaNueva" class="form-label">Confirmar contraseña<b
                                            style="color: brown;">*</b>:</label>
                                    <input formControlName="confContraseniaNueva" type="password" class="form-control"
                                        id="confContraseniaNueva" placeholder="Confirmar Contraseña Nueva"
                                        (keypress)="soloTexto($event)" maxlength="255">
                                </div>
                            </section>

                            <div *ngIf="pkUsuario != 0 && informacionPerfil" class="card" style="margin-top: 10px !important; margin-bottom: 0px !important;">
                                <div class="card-body card-w-title">
                                    <section class="col-12 t-center">
                                        <label class="form-label">Permisos</label>
                                    </section>
                                    
                                    <div class="col-lg-4">
                                        <section class="col-12 t-center">
                                            <label class="form-label">Generales</label>
                                        </section>
        
                                        <div class="form-check form-switch f-left">
                                            <input class="form-check-input" type="checkbox" id="generarOrden"
                                                [checked]="formMoficacionPerfil.value.generarOrden == 1" (change)="cambioCheck('generarOrden')">
                                            <label class="form-check-label"
                                                for="generarOrden">Generar orden</label>
                                        </div>
        
                                        <div class="form-check form-switch f-left">
                                            <input class="form-check-input" type="checkbox" id="detalleOrden"
                                                [checked]="formMoficacionPerfil.value.detalleOrden == 1" (change)="cambioCheck('detalleOrden')">
                                            <label class="form-check-label"
                                                for="detalleOrden">Ver detalle orden</label>
                                        </div>
        
                                        <div class="form-check form-switch f-left">
                                            <input class="form-check-input" type="checkbox" id="entregarOrden"
                                                [checked]="formMoficacionPerfil.value.entregarOrden == 1" (change)="cambioCheck('entregarOrden')">
                                            <label class="form-check-label"
                                                for="entregarOrden">Entregar orden</label>
                                        </div>
                                    </div>
        
                                    <div class="col-lg-8">
                                        <section class="col-12 t-center">
                                            <label class="form-label">Específicos orden</label>
                                        </section>
        
                                        <div class="col-lg-6">
                                            <div class="form-check form-switch f-left">
                                                <input class="form-check-input" type="checkbox" id="ordenActualizar"
                                                    [checked]="formMoficacionPerfil.value.ordenActualizar == 1" (change)="cambioCheck('ordenActualizar')">
                                                <label class="form-check-label"
                                                    for="ordenActualizar">Actualizar orden</label>
                                            </div>

                                            <div class="form-check form-switch f-left">
                                                <input class="form-check-input" type="checkbox" id="ordenActualizarCantidades"
                                                    [checked]="formMoficacionPerfil.value.ordenActualizarCantidades == 1"
                                                    [disabled]="formMoficacionPerfil.value['ordenActualizar'] == 0"
                                                    (change)="cambioCheck('ordenActualizarCantidades')">
                                                <label class="form-check-label"
                                                    for="ordenActualizarCantidades">Actualizar cantidades</label>
                                            </div>
        
                                            <div class="form-check form-switch f-left">
                                                <input class="form-check-input" type="checkbox" id="ordenConcluir"
                                                    [checked]="formMoficacionPerfil.value.ordenConcluir == 1" (change)="cambioCheck('ordenConcluir')">
                                                <label class="form-check-label"
                                                    for="ordenConcluir">Concluir orden</label>
                                            </div>
                                        </div>
        
                                        <div class="col-lg-6">
                                            <div class="form-check form-switch f-left">
                                                <input class="form-check-input" type="checkbox" id="ordenCancelar"
                                                    [checked]="formMoficacionPerfil.value.ordenCancelar == 1" (change)="cambioCheck('ordenCancelar')">
                                                <label class="form-check-label"
                                                    for="ordenCancelar">Cancelar orden</label>
                                            </div>
            
                                            <div class="form-check form-switch f-left">
                                                <input class="form-check-input" type="checkbox" id="ordenEliminar"
                                                    [checked]="formMoficacionPerfil.value.ordenEliminar == 1" (change)="cambioCheck('ordenEliminar')">
                                                <label class="form-check-label"
                                                    for="ordenEliminar">Eliminar orden</label>
                                            </div>

                                            <div class="form-check form-switch f-left">
                                                <input class="form-check-input" type="checkbox" id="ordenRetomar"
                                                    [checked]="formMoficacionPerfil.value.ordenRetomar == 1" (change)="cambioCheck('ordenRetomar')">
                                                <label class="form-check-label"
                                                    for="ordenRetomar">Retomar orden</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div *ngIf="
                                        formMoficacionPerfil.value.perfil != informacionPerfil.perfil ||
				                        formMoficacionPerfil.value.generarOrden != informacionPerfil.generarOrden ||
				                        formMoficacionPerfil.value.detalleOrden != informacionPerfil.detalleOrden ||
				                        formMoficacionPerfil.value.entregarOrden != informacionPerfil.entregarOrden ||
				                        formMoficacionPerfil.value.ordenActualizar != informacionPerfil.ordenActualizar ||
				                        formMoficacionPerfil.value.ordenActualizarCantidades != informacionPerfil.ordenActualizarCantidades ||
				                        formMoficacionPerfil.value.ordenConcluir != informacionPerfil.ordenConcluir ||
				                        formMoficacionPerfil.value.ordenRetomar != informacionPerfil.ordenRetomar ||
				                        formMoficacionPerfil.value.ordenCancelar != informacionPerfil.ordenCancelar ||
				                        formMoficacionPerfil.value.ordenEliminar != informacionPerfil.ordenEliminar
                                    " class="col-12" style="margin-top: 10px; margin-bottom: -10px;">
                                        <div class="alert alert-info alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                            <b>Importante!</b> si se realizan cambios en los permisos, se cerrará toda sesión del perfil en cuestión con el fin de aplicar los cambios antes de continuar navegando dentro del sistema
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal-footer" style="text-align: center;">
    <button type="button" class="btn btn-primary" (click)="modificarPerfil()">Actualizar</button>
    <button *ngIf="informacionPerfil && informacionPerfil.activo == 1" type="button" class="btn btn-warning" (click)="cambiarStatusSesion('Inactivar', 'inactivar')">Inactivar</button>
    <button *ngIf="informacionPerfil && informacionPerfil.activo != 1" type="button" class="btn btn-info" (click)="cambiarStatusSesion('Reactivar', 'reactivar')">Reactivar</button>
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
        (click)="cerrarModal()">Cerrar</button>
</div>