<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" [routerLink]="['/']">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="nav-heading">Gestión</li>

        <li *ngIf="permisos.generarOrden == 1" class="nav-item" [routerLink]="['orden']">
            <a class="nav-link collapsed">
                <i class="bi bi-file-earmark-break"></i>
                <span>Generar orden</span>
            </a>
        </li>

        <li class="nav-item" [routerLink]="['consulta-ordenes']">
            <a class="nav-link collapsed">
                <i class="bi bi-tools"></i>
                <span>Ordenes de servicio</span>
            </a>
        </li>

        <li *ngIf="permisos.entregarOrden == 1" class="nav-item" (click)="entregarEquipo()">
            <a class="nav-link collapsed">
                <i class="bi bi-truck"></i>
                <span>Entregar equipo(s)</span>
            </a>
        </li>

        <li *ngIf="permisos.perfil != 'Administrador' && permisos.perfil != 'Superadministrador'" class="nav-item" [routerLink]="['solicitudes-orden']">
            <a class="nav-link collapsed">
                <i class="bi bi-journal-check"></i>
                <span>Mis solicitudes</span>
            </a>
        </li>

        <li *ngIf="permisos.perfil == 'Administrador' || permisos.perfil == 'Superadministrador'" class="nav-heading">Administración</li>

        <li *ngIf="permisos.perfil == 'Administrador' || permisos.perfil == 'Superadministrador'" class="nav-item" [routerLink]="['solicitudes-orden']">
            <a class="nav-link collapsed">
                <i class="bi bi-journal-check"></i>
                <span>Solicitudes orden</span>
            </a>
        </li>
        
        <li *ngIf="permisos.perfil == 'Administrador' || permisos.perfil == 'Superadministrador'" class="nav-item" [routerLink]="['usuarios']">
            <a class="nav-link collapsed">
                <i class="bi bi-person-rolodex"></i>
                <span>Usuarios</span>
            </a>
        </li>
    </ul>
</aside>