<div class="col-12 dashboard" style="margin-bottom: -5px;">
    <div class="card">
        <div class="filter">
            <span *ngIf="data.datosEquipo && data.datosEquipo.status == 1"
                class="badge bg-warning text-dark">&nbsp;Servicio pendiente&nbsp;</span>
            <span *ngIf="data.datosEquipo && data.datosEquipo.status == 2" class="badge bg-primary">&nbsp;Servicio
                concluido&nbsp;</span>
            <span *ngIf="data.datosEquipo && data.datosEquipo.status == 3" class="badge bg-success">&nbsp;Servicio
                entregado&nbsp;</span>
            <span *ngIf="data.datosEquipo && data.datosEquipo.status == 4" class="badge bg-danger">&nbsp;Servicio
                cancelado&nbsp;</span>

            &nbsp;

            <span
                *ngIf="formEquipo.valid && (data.datosEquipo == undefined || data.datosEquipo == null || data.datosEquipo?.status == 1 || data.datosEquipo?.status == 2)"
                class="badge bg-success">
                &nbsp;<i class="bi bi-check-circle me-1"></i>
            </span>
            <span
                *ngIf="!formEquipo.valid && (data.datosEquipo == undefined || data.datosEquipo == null || data.datosEquipo?.status == 1 || data.datosEquipo?.status == 2)"
                class="badge bg-warning text-dark">
                &nbsp;<i class="bi bi-exclamation-triangle me-1"></i>
            </span>
        </div>
        <div class="card-body">
            <div class="col-12" style="margin-top: 15px !important;">
                <div class="row">
                    <form class="row g-3" autocomplete="off" [formGroup]="formEquipo" (input)="enviarCambios()">
                        <div *ngIf="data.datosEquipo"
                            class="col-xxl-3 col-lg-4 col-sm-3 d-flex justify-content-center align-items-center"
                            data-bs-toggle="dropdown">
                            <img src="https://m-net.mx/scosm/images/{{data.itemType}}.png" width="100px">
                        </div>

                        <div *ngIf="!data.datosEquipo"
                            class="col-xxl-3 col-lg-4 col-sm-3 d-flex justify-content-center align-items-center">
                            <img src="https://m-net.mx/scosm/images/{{data.itemType}}.png" width="100px">
                        </div>

                        <ul class="dropdown-menu">
                            <ng-container *ngIf="
                                data.datosEquipo &&
                                ((data.datosEquipo.usuarioModificacion && data.datosEquipo.fechaModificacion) ||
                                (data.datosEquipo.usuarioCancelacion && data.datosEquipo.fechaCancelacion) ||
                                (data.datosEquipo.usuarioConclucion && data.datosEquipo.fechaConclucion) ||
                                (data.datosEquipo.usuarioEntrega && data.datosEquipo.fechaEntrega)); else sinActualizaciones
                            ">
                                <div class="t-center">
                                    <div
                                        *ngIf="data.datosEquipo.usuarioModificacion && data.datosEquipo.fechaModificacion">
                                        <label style="color: gray !important;">Última
                                            actualización</label>&nbsp;<label
                                            style="color: #008FFF !important;">{{data.datosEquipo.usuarioModificacion}}</label>
                                        <br><label>{{data.datosEquipo.fechaModificacion}}</label>
                                    </div>

                                    <hr
                                        *ngIf="data.datosEquipo.usuarioModificacion && data.datosEquipo.fechaModificacion && (data.datosEquipo.usuarioCancelacion && data.datosEquipo.fechaCancelacion || data.datosEquipo.usuarioConclucion && data.datosEquipo.fechaConclucion)">

                                    <div
                                        *ngIf="data.datosEquipo.usuarioCancelacion && data.datosEquipo.fechaCancelacion">
                                        <label style="color: gray !important;">Cancelado por</label>&nbsp;<label
                                            style="color: #008FFF !important;">{{data.datosEquipo.usuarioCancelacion}}</label>
                                        <br><label>{{data.datosEquipo.fechaCancelacion}}</label>
                                    </div>
                                    <div *ngIf="data.datosEquipo.usuarioConclucion && data.datosEquipo.fechaConclucion">
                                        <label style="color: gray !important;">Concluido por</label>&nbsp;<label
                                            style="color: #008FFF !important;">{{data.datosEquipo.usuarioConclucion}}</label>
                                        <br><label>{{data.datosEquipo.fechaConclucion}}</label>
                                    </div>
                                </div>
                            </ng-container>
                        </ul>

                        <ng-template #sinActualizaciones>
                            <div class="t-center">
                                Aún no hay actualizaciones para mostrar
                            </div>
                        </ng-template>

                        <div class="col-xxl-9 col-lg-8 col-sm-9">
                            <div class="row g-3">
                                <div [ngClass]="{
                                    'col-xxl-4 col-lg-6 col-sm-4': data.itemType != 'impresora' && data.itemType != 'monitor',
                                    'col-sm-6': data.itemType == 'impresora' || data.itemType == 'monitor'
                                }">
                                    <label class="form-label required">Equipo:</label>
                                    <input type="text" class="form-control" placeholder="Equipo"
                                        formControlName="equipo" (keypress)="soloTexto($event)">
                                </div>
                                <div *ngIf="data.itemType != 'impresora' && data.itemType != 'monitor'"
                                    class="col-xxl-4 col-lg-6 col-sm-4">
                                    <label class="form-label">Contraseña:</label>
                                    <input type="text" class="form-control" placeholder="Contraseña"
                                        formControlName="password" (keypress)="soloTexto($event)">
                                </div>
                                <div [ngClass]="{
                                    'col-xxl-4 col-lg-12 col-sm-4': data.itemType != 'impresora' && data.itemType != 'monitor',
                                    'col-sm-6': data.itemType == 'impresora' || data.itemType == 'monitor'
                                }">
                                    <label class="form-label">No. Serie:</label>
                                    <input type="text" class="form-control" placeholder="No. Serie"
                                        formControlName="noSerie" (keypress)="soloTexto($event)">
                                </div>
                                <div class="col-xxl-6 col-lg-6 col-sm-6">
                                    <label class="form-label">Descripción falla:</label>
                                    <textarea (input)="adjustTextareaHeight($event)" rows="1" class="form-control"
                                        placeholder="Descripción falla" formControlName="descripcionFalla"
                                        (keypress)="soloTexto($event)"></textarea>
                                </div>
                                <div class="col-xxl-6 col-lg-6 col-sm-6">
                                    <label class="form-label">Observaciones:</label>
                                    <textarea (input)="adjustTextareaHeight($event)" rows="1" class="form-control"
                                        placeholder="Observaciones" formControlName="observaciones"
                                        (keypress)="soloTexto($event)"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div *ngFor="let check of checks" class="form-check form-switch f-left">
                                <input class="form-check-input" type="checkbox" id="{{check.identificador+data.idItem}}"
                                    [checked]="check.checked" (change)="cambioCheck(check)"
                                    [disabled]="data.type == 'readonly' || (data.datosEquipo && data.datosEquipo.status >= 3)">
                                <label class="form-check-label"
                                    for="{{check.identificador+data.idItem}}">{{check.label}}</label>
                            </div>
                        </div>
                        <div *ngIf="data.datosEquipo" class="col-xxl-5 col-lg-4 col-md-12">
                            <label class="form-label">Diagnóstico final:</label>
                            <textarea (input)="adjustTextareaHeight($event)" rows="1" class="form-control"
                                placeholder="Diagnóstico final" formControlName="diagnosticoFinal"
                                (keypress)="soloTexto($event)"></textarea>
                        </div>
                        <div
                            class="{{data.datosEquipo ? 'col-xxl-4 col-lg-4 col-md-8' : 'col-xxl-9 col-lg-8 col-md-8'}}">
                            <label class="form-label">Detalles:</label>
                            <textarea (input)="adjustTextareaHeight($event)" rows="1" class="form-control"
                                placeholder="Detalles" formControlName="detalles"
                                (keypress)="soloTexto($event)"></textarea>
                        </div>
                        <div class="col-xxl-3 col-lg-4 col-md-4">
                            <label class="form-label required">Costo:</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control t-center" placeholder="Costo"
                                    formControlName="costoReparacion" (keypress)="soloNumeros($event)" maxlength="11"
                                    (input)="moneyFormat($event)"
                                    [readOnly]="data.datosEquipo != undefined && data.datosEquipo != null && permisos.ordenActualizarCantidades != 1 && !parent.solicitudCambioCantidad"
                                    [ngStyle]="{'background': data.datosEquipo != undefined && data.datosEquipo != null && ((permisos.ordenActualizarCantidades != 1 && !parent.solicitudCambioCantidad) || data.type == 'readonly' || data.status >= 3) ? '#e9ecef' : 'white'}">
                                <button
                                    *ngIf="data.type != 'readonly' && data.datosEquipo && data.datosEquipo.status < 3 && permisos.ordenActualizarCantidades != 1"
                                    class="btn btn-{{parent.solicitudCambioCantidad ? 'danger' : 'warning'}}"
                                    (click)="solicitarModificarCantidades()">
                                    <i *ngIf="!parent.solicitudCambioCantidad" class="bi bi-pencil-square"></i>
                                    <b><i *ngIf="parent.solicitudCambioCantidad" class="bi bi-ban"></i></b>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div *ngIf="data.type != 'readonly'" class="col-12" style="margin-top: 15px;">
                        <section *ngIf="data.datosEquipo == undefined || data.datosEquipo == null"
                            class="d-flex justify-content-end">
                            <div class="btn btn-warning me-2" (click)="limpiarFormulario()">Limpiar</div>
                            <div class="btn btn-danger me-2 t-bold" (click)="parent.removeContent(data.idItem)">X</div>
                        </section>
                        <section *ngIf="data.datosEquipo && data.status < 3">
                            <div *ngIf="data.datosEquipo.status <= 2" class="btn btn-primary me-2"
                                (click)="enviarDiagnostico()">Enviar diagnóstico
                            </div>
                            <div *ngIf="(data.datosEquipo.status == 1) && parent.validaListaPedientes()"
                                class="btn btn-success me-2" (click)="cambioStatusServicio('Concluir', 2)">Concluir
                            </div>
                            <div *ngIf="(data.datosEquipo.status == 1) && parent.validaListaPedientesEntregados()"
                                class="btn btn-warning me-2" (click)="cambioStatusServicio('Cancelar', 4)">Cancelar
                            </div>
                            <div *ngIf="(data.datosEquipo.status == 2 || data.datosEquipo.status == 4) && parent.validaOpcionesIndividuales()"
                                class="btn btn-warning me-2" (click)="cambioStatusServicio('Retomar', 1)">Retomar
                                servicio</div>
                            <div *ngIf="data.datosEquipo.status == 1 && parent.validaOpcionesIndividuales()"
                                class="btn btn-danger t-bold" style="float: right !important;"
                                (click)="eliminarEquipoOrden()"><i class="bi bi-trash"></i></div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>