.message-item {
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.dropdown-menu {
    min-width: 340px !important;
}

.notification-item {
    padding-right: 35px !important;
    width: 100%;
}