<div class="modal-body">
    <div class="card" style="margin-bottom: 20px;">
        <div class="card-body" style="padding-top: 5px;">
            <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="orden-ahora" data-bs-toggle="tab"
                        data-bs-target="#bordered-home" type="button" role="tab" aria-controls="home"
                        aria-selected="true">{{solicitud.status == 1 ? 'Ahora' : 'Cambios aplicados'}}</button>
                </li>
                <li *ngIf="solicitud.status == 1" class="nav-item" role="presentation">
                    <button class="nav-link" id="orden-despues" data-bs-toggle="tab" data-bs-target="#bordered-profile"
                        type="button" role="tab" aria-controls="profile" aria-selected="false"
                        tabindex="-1">Después</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#bordered-contact"
                        type="button" role="tab" aria-controls="contact" aria-selected="false"
                        tabindex="-1">Motivo</button>
                </li>
            </ul>
            <div class="tab-content pt-2" id="borderedTabContent">
                <div style="margin-top: 10px;" class="tab-pane fade show active" id="bordered-home" role="tabpanel" aria-labelledby="orden-ahora">
                    <app-orden *ngIf="solicitud.status == 1" [pkOrdenSolicitud]="solicitud.fkTblOrdenServicio"
                        [solicitante]="solicitud"></app-orden>
                    <app-orden *ngIf="!(solicitud.status == 1)" [pkOrdenSolicitud]="solicitud.fkTblOrdenServicio"
                        [cambiosSolicitud]="solicitud.data" [solicitante]="solicitud"></app-orden>
                </div>
                <div style="margin-top: 10px;" *ngIf="solicitud.status == 1" class="tab-pane fade" id="bordered-profile" role="tabpanel"
                    aria-labelledby="orden-despues">
                    <app-orden [pkOrdenSolicitud]="solicitud.fkTblOrdenServicio" [cambiosSolicitud]="solicitud.data"
                        [solicitante]="solicitud"></app-orden>
                </div>
                <div class="tab-pane fade" id="bordered-contact" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card" style="margin-bottom: 0px; margin-top: 15px !important;">
                                <div class="card-body card-w-title t-center">
                                    Solicitud <label *ngIf="permisos.perfil == 'Administrador' || permisos.perfil == 'Superadministrador'" style="color: #008FFF !important;">
                                        {{solicitud.solicitante}}
                                    </label>
                                    <br>
                                    <label>{{solicitud.fechaSolicitud}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="card" style="margin-bottom: 0px; margin-top: 15px !important;">
                                <div class="card-body card-w-title t-center">
                                    {{solicitud.motivo}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer" style="text-align: center;">
    <button
        *ngIf="(permisos.perfil == 'Administrador' || permisos.perfil == 'Superadministrador') && solicitud.status == 1"
        type="button" class="btn btn-primary"
        (click)="patern.aprobarSolicitud(solicitud.pkTblSolicitudOrden)">Aprobar</button>
    <button *ngIf="solicitud.status == 1" type="button" class="btn btn-warning"
        (click)="patern.eliminarSolicitud(solicitud.pkTblSolicitudOrden)">{{(permisos.perfil == 'Administrador' ||
        permisos.perfil == 'Superadministrador') ? 'Eliminar' : 'Cancelar'}}</button>
    <button type="button" class="btn btn-danger" (click)="cerrarModal()">Cerrar</button>
</div>